version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "09:00"
      timezone: UTC
    open-pull-requests-limit: 10
    reviewers:
      - octocat
    assignees:
      - octocat
    commit-message:
      prefix: "chore(deps):"
      prefix-development: "chore(deps-dev):"
      include: scope
    labels:
      - dependencies
      - automated
    pull-request-branch-name:
      separator: "-"
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    versioning-strategy: increase
    allow:
      - dependency-type: direct
      - dependency-type: indirect

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "09:00"
      timezone: UTC
    open-pull-requests-limit: 5
    reviewers:
      - octocat
    assignees:
      - octocat
    commit-message:
      prefix: "chore(ci):"
      include: scope
    labels:
      - github-actions
      - automated
    pull-request-branch-name:
      separator: "-"

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "09:00"
      timezone: UTC
    open-pull-requests-limit: 5
    reviewers:
      - octocat
    assignees:
      - octocat
    commit-message:
      prefix: "chore(docker):"
      include: scope
    labels:
      - docker
      - automated
    pull-request-branch-name:
      separator: "-"